.wrappper{
	width: 100%;
	height: 100%;
}
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
}
#gameName{
	text-align: center;
}
#btn1{
	margin: 5px;
	padding: 50px;
	background-color: white;
	border-color: black;
	color: black;
	font-size: 20px;
}
#btn2{
	margin: 5px;
	padding: 50px;
	background-color: white;
	border-color: black;
	color: black;
	font-size: 20px;
}
#btn3{
	margin: 5px;
	padding: 50px;
	background-color: white;
	border-color: blue;
	color: black;
	font-size: 20px;
}